<section section-id="{{ sectionId }}"
         data-lg-scroll-offset="130"
         data-md-scroll-offset="130"
         data-sm-scroll-offset="94"
         class="ss">
  <div class="container container-slider">
    <div class="main-slider slider s-slider">
        {% for key, slide in settings.slider %}
          <div class="slider-item">
            <div class="box-1-1 ratio21_9">
              <div class="content">
                <a href="{% if slide.url %}{{ slide.url }}{% else %}/{% endif %}" class="d-flex flex-column justify-content-start"
                   style="position: relative; width: 100%; height: 100%; {% if settings.background_color %} background-color: {{ settings.background_color }}; {% endif %}">
                    {% if slide.image %}
                      <img class="d-block w-100 slider-image-{{ key }}" style="width: 100%; height: 100%; object-fit: cover"
                              {% if key == 0 %}
                                srcset="
                                 {{ imageUrl(slide.image,{ w: 620, q: 100, f:'auto' }) }} 320w,
                                 {{ imageUrl(slide.image,{ w: 960, q: 100, f:'auto' }) }} 480w,
                                 {{ imageUrl(slide.image,{ w: 1280, q: 100, f:'auto' }) }} 640w,
                                 {{ imageUrl(slide.image,{ w: 1920, q: 100, f:'auto' }) }} 960w,
                                 {{ imageUrl(slide.image,{ w: 2220, q: 100, f:'auto' }) }} 1110w,
                                "
                                src="{{ imageUrl(slide.image,{ w: 2220, q: 100, f:'auto' }) }}"
                                  {% else %}
                                    data-srcset="
                                 {{ imageUrl(slide.image,{ w: 620, q: 100, f:'auto' }) }} 320w,
                                 {{ imageUrl(slide.image,{ w: 960, q: 100, f:'auto' }) }} 480w,
                                 {{ imageUrl(slide.image,{ w: 1280, q: 100, f:'auto' }) }} 640w,
                                 {{ imageUrl(slide.image,{ w: 1920, q: 100, f:'auto' }) }} 960w,
                                 {{ imageUrl(slide.image,{ w: 2220, q: 100, f:'auto' }) }} 1110w,
                                "
                                    data-src="{{ imageUrl(slide.image,{ w: 2220, q: 100, f:'auto' }) }}"
                              {% endif %}
                           sizes="(max-width: 1110px) 100vw, 1110px"
                           alt="{{ slide.title }}"
                      >
                    {% endif %}
                  <div class="d-flex flex-column align-items-center justify-content-center"
                       style="width: 100%; height: 100%; position: absolute; top:0; left: 0; {% if settings.text_color %} color: {{ settings.text_color }}; {% endif %}">
                    <h2 style="font-size: 3.5rem">
                        {{ slide.title }}
                    </h2>
                    <p style="font-size: 2rem">
                        {{ slide.des }}
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
  </div>
</section>


<script>
    document.addEventListener("DOMContentLoaded", function(){
        $('[section-id={{ sectionId }}] .main-slider').slick({
            infinite: false,
            autoplay: true,
            arrows: false,
            dots: {% if (settings.hide_dots or (settings.slider | length <= 1)) %}false{% else %}true{% endif %},
            rtl: !(window.appDirection === 'ltr')
        });


        $('[section-id={{ sectionId }}] .main-slider').on('beforeChange', function(event, { slideCount: count }, currentSlide, nextSlide){
            var currentImage = $('[section-id={{ sectionId }}] .slider-image-'+nextSlide);
            if(!currentImage.attr('src')){
                currentImage.attr('srcset',currentImage.attr('data-srcset'))
                currentImage.attr('src',currentImage.attr('src'))
            }
        });
    });
</script>


{% schema %}
{
  "name": {
    "ar": "شرائح الصور",
    "en": "Slider"
  },
  "icon": "fal fa-presentation",
  "display": true,
  "settings": {
    "slider": {
      "type": "list",
      "noLabel": true,
      "maxItems": 4,
      "settings_label":{
        "ar": "الصورة",
        "en": "Picture"
      },
      "settings": {
        "title": {
          "type": "text",
          "label": {
            "ar": "العنوان",
            "en": "text"
          }
        },
        "des": {
          "type": "text",
          "label": {
            "ar": "النص",
            "en": "text"
          }
        },
        "image": {
          "type": "image",
          "label": {
            "ar": "الصورة",
            "en": "Image"
          },
          "info": {
            "ar": "ارفع صورة بحجم 1400 * 600",
            "en": "This is an info text sample here"
          }
        },
        "url": {
          "type": "url",
          "label": {
            "ar": "الرابط",
            "en": "Link"
          }
        }
      }
    },
    "hide_dots": {
      "type": "checkbox",
      "label": {
        "ar": " ",
        "en": " "
      },
      "option": {
        "ar": "إخفاء النقاط",
        "en": "Hide dots"
      },
      "noLabel": true
    },
    "background_color": {
      "type": "color",
      "label": {
        "ar": "لون الخلفية",
        "en": "Text color"
      }
    },
    "text_color": {
      "type": "color",
      "label": {
        "ar": "لون النص",
        "en": "Text color"
      }
    }
  }
}
{% endschema %}
