{% set isVideo = settings.videoOrGifUrl matches '/\.(mp4|webm|ogg)$/i' %}
  {% set isGif = settings.videoOrGifUrl matches '/\.gif$/i' %}

<section class="models_section mt-3 mb-3" section-id="{{ sectionId }}">
  <div class="container-fluid">
    <div class="row align-items-center position-relative">
  <div class="col-lg-5 col-md-6 col-sm-12 p-0 models_section_img" 
  {% if settings.videoOrGifUrl %}
    style="background-image: url('{{settings.videoOrGifUrl }}');"
  {% endif %}>
     {% if isVideo  %}
      <video autoplay loop muted playsinline class="model_section_video">
        <source src="{{ settings.videoOrGifUrl }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
     {% endif %}
        
      </div>
      <div class="col-lg-7 col-md-6 col-sm-12 d-flex flex-column justify-content-start models_section_content">
        <h1 class="model_brand">{{ settings.model_brand }}</h1>
        <div class="models_content_inner">
          <h3 class="models_section_title ">{{ settings.title }}</h3>
          <p class="models_section_desc ">{{ settings.description }}</p>
          <a href="{{ settings.buttonUrl }}" class="models_section_btn text-decoration-none">
            {{ settings.buttonText }}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
.models_section_img {
  
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 450px;
}
.model_section_video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.models_section_content {
  height: 450px;
  background: {{ settings.sectionColor }};
  padding: 0;
  overflow: hidden;
}

.model_brand {
  color: {{ settings.model_brand_color }};
  font-size: clamp(12rem, 7.0704rem + 21.0329vw, 26rem);
  width: 100%;
  text-align: center;
  position: absolute;
  top: 5%;
  bottom: 19%;
  transform: rotate(-21deg);
  text-transform: capitalize;
  opacity: 0.2;
}

.models_content_inner {
  margin: 9rem;
  padding: 1rem;
  position: absolute;
  z-index: 2;
}

.models_section_title {
  color: {{ settings.title_color }};
  font-size: 30px;
  margin-bottom: 1.5rem;
}

.models_section_desc {
  color: {{ settings.description_color }};
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 3.5rem;
  
}

.models_section_btn {
  color: #ffffff;
  margin-top: 1.5rem;
  padding: 10px 50px;
  border-radius: 18px;
  font-size: 14px;
  width: 75%;
  background: {{ settings.buttonColor }};
}


{# media query #}
  @media (max-width:992px) {
    .model_brand{
      top: 24%;
      bottom: 42%;
    }
    .models_content_inner{
      margin: 8rem 0rem !important;
      padding: 0.5rem !important;
    }
    .models_section_desc{
      font-size: 13px;
    }
  }
</style>

{% schema %}
{
  "name": {
    "ar": "موديل ",
    "en": "Models section"
  },
  "display": true,
  "settings": {
    "title": {
      "type": "text",
      "label": {
        "ar": "العنوان الرئيسي",
        "en": "Main Title"
      }
    },
    "title_color": {
      "type": "color",
      "label": {
        "ar": "اضافة لون العنوان",
        "en": "Add Title Color"
      }
    },
    "description": {
      "type": "text",
      "label": {
        "ar": "الوصف",
        "en": "Description"
      }
    },
    "description_color": {
      "type": "color",
      "label": {
        "ar": "اضافة لون للوصف",
        "en": "Add Description Color"
      }
    },
    "model_brand": {
      "type": "text",
      "label": {
        "ar": "اسم البراند",
        "en": "Brand Name"
      }
    },
    "model_brand_color": {
      "type": "color",
      "label": {
        "ar": "لون اسم البراند",
        "en": "Brand color"
      }
    },
    "videoOrGifUrl": {
      "type": "url",
      "label": {
        "ar": "رابط الفيديو أو GIF",
        "en": "Video or GIF URL"
      }
    },
    "buttonText": {
      "type": "text",
      "label": {
        "ar": "اضافة نص",
        "en": "Add Text"
      }
    },
    "buttonUrl": {
      "type": "url",
      "label": {
        "ar": "اضافة رابط",
        "en": "Add URL"
      }
    },
    "buttonColor": {
      "type": "color",
      "label": {
        "ar": "اضافة لون الزر",
        "en": "Add Button Color"
      }
    },
    "sectionColor": {
      "type": "color",
      "label": {
        "ar": "اضافة لون القسم",
        "en": "Add Section Color"
      }
    }
  }
}
{% endschema %}
