{% if questions is not empty %}
  {% for key, question in questions %}
    <div class="card questions-card-preview mt-2 mb-5">
      <div class="card-body p-0">
        {% if not question.is_anonymous and question.name is defined and question.name is not empty %}
          <div class="customer-name">{{ question.name }}</div>
        {% endif %}
        <div class="d-flex">
          <div class="question-box">
            <p class="question">{{ question.question }}</p>
          </div>
        </div>
        <div class="answer-box">
          <p class="answer m-0">{{ question.answers[0].answer }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
  {% if (questions|length) >= 5 %}
    <div class="text-center questions-view_more">
      <a href="/products-questions?id={{ product.id }}">{{ locals.product_questions_view_all }}</a>
    </div>
  {% endif %}
{% else %}
  <div class="card mt-2 mb-5 bg-transparent">
    <div class="text-center questions-card-init">
      <div class="image-box">
        <svg width="93" height="81" viewBox="0 0 93 81" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M72.2485 18.5619C72.0534 18.1018 71.7268 17.7086 71.3091 17.431C70.8913 17.1534 70.4008 17.0036 69.8982 17H22.9859C22.3116 17.0004 21.665 17.2666 21.1882 17.7402C20.7113 18.2138 20.4433 18.8561 20.4429 19.5259V78.4741C20.4433 79.1439 20.7113 79.7862 21.1882 80.2598C21.665 80.7334 22.3116 80.9996 22.9859 81H69.8999C70.5741 80.9991 71.2204 80.7327 71.6971 80.2592C72.1738 79.7857 72.442 79.1438 72.4429 78.4741V19.5259C72.444 19.195 72.3785 18.8672 72.2502 18.5619H72.2485ZM71.8765 78.4741C71.8759 78.9951 71.6672 79.4945 71.2964 79.8629C70.9255 80.2312 70.4227 80.4384 69.8982 80.4391H22.9859C22.4614 80.439 21.9583 80.232 21.5873 79.8636C21.2163 79.4952 21.0078 78.9955 21.0077 78.4745V19.5262C21.0084 19.0053 21.217 18.5059 21.5879 18.1376C21.9587 17.7692 22.4615 17.562 22.9859 17.5613H69.8999C70.295 17.5628 70.6807 17.6811 71.0077 17.9013C71.3348 18.1214 71.5884 18.4334 71.7361 18.7973C71.7649 18.8699 71.7897 18.9438 71.8105 19.019C71.8554 19.1844 71.8782 19.3549 71.8782 19.5262L71.8765 78.4741Z" fill="#3F3D56" fill-opacity="0.5" />
          <path d="M62.338 30H48.5479C48.4029 30.0002 48.2592 29.9745 48.1252 29.9243C47.9911 29.8742 47.8693 29.8005 47.7667 29.7077C47.664 29.6148 47.5826 29.5045 47.5271 29.383C47.4715 29.2616 47.4429 29.1315 47.4429 29C47.4429 28.8685 47.4715 28.7384 47.5271 28.617C47.5826 28.4955 47.664 28.3852 47.7667 28.2923C47.8693 28.1995 47.9911 28.1258 48.1252 28.0757C48.2592 28.0255 48.4029 27.9998 48.5479 28H62.338C62.483 27.9998 62.6266 28.0255 62.7607 28.0757C62.8947 28.1258 63.0166 28.1995 63.1192 28.2923C63.2218 28.3852 63.3032 28.4955 63.3588 28.617C63.4143 28.7384 63.4429 28.8685 63.4429 29C63.4429 29.1315 63.4143 29.2616 63.3588 29.383C63.3032 29.5045 63.2218 29.6148 63.1192 29.7077C63.0166 29.8005 62.8947 29.8742 62.7607 29.9243C62.6266 29.9745 62.483 30.0002 62.338 30Z" fill="#CCCCCC" />
          <path d="M62.338 36H48.5479C48.4029 36.0002 48.2592 35.9745 48.1252 35.9243C47.9911 35.8742 47.8693 35.8005 47.7667 35.7077C47.664 35.6148 47.5826 35.5045 47.5271 35.383C47.4715 35.2616 47.4429 35.1314 47.4429 35C47.4429 34.8685 47.4715 34.7384 47.5271 34.617C47.5826 34.4955 47.664 34.3852 47.7667 34.2923C47.8693 34.1995 47.9911 34.1258 48.1252 34.0757C48.2592 34.0255 48.4029 33.9998 48.5479 34H62.338C62.483 33.9998 62.6266 34.0255 62.7607 34.0757C62.8947 34.1258 63.0166 34.1995 63.1192 34.2923C63.2218 34.3852 63.3032 34.4955 63.3588 34.617C63.4143 34.7384 63.4429 34.8685 63.4429 35C63.4429 35.1314 63.4143 35.2616 63.3588 35.383C63.3032 35.5045 63.2218 35.6148 63.1192 35.7077C63.0166 35.8005 62.8947 35.8742 62.7607 35.9243C62.6266 35.9745 62.483 36.0002 62.338 36Z" fill="#CCCCCC" />
          <path d="M41.1583 40H30.7276C30.387 39.9996 30.0604 39.8631 29.8196 39.6203C29.5788 39.3774 29.4433 39.0482 29.4429 38.7048V26.2952C29.4433 25.9518 29.5788 25.6226 29.8196 25.3798C30.0604 25.1369 30.387 25.0004 30.7276 25H41.1583C41.4989 25.0004 41.8254 25.1369 42.0663 25.3798C42.3071 25.6226 42.4426 25.9518 42.4429 26.2952V38.7048C42.4426 39.0482 42.3071 39.3774 42.0663 39.6203C41.8254 39.8631 41.4989 39.9996 41.1583 40Z" fill="{{store.colors.primary}}" />
          <path d="M62.3189 48H30.5669C30.2688 48 29.9829 47.8946 29.7722 47.7071C29.5614 47.5196 29.4429 47.2652 29.4429 47C29.4429 46.7348 29.5614 46.4804 29.7722 46.2929C29.9829 46.1054 30.2688 46 30.5669 46H62.3189C62.617 46 62.9029 46.1054 63.1137 46.2929C63.3245 46.4804 63.4429 46.7348 63.4429 47C63.4429 47.2652 63.3245 47.5196 63.1137 47.7071C62.9029 47.8946 62.617 48 62.3189 48Z" fill="#CCCCCC" />
          <path d="M62.3172 54H30.5652C30.2674 53.9996 29.982 53.894 29.7715 53.7066C29.5611 53.5191 29.4429 53.2649 29.4429 53C29.4429 52.735 29.5611 52.4809 29.7715 52.2934C29.982 52.106 30.2674 52.0004 30.5652 52H62.3172C62.4649 51.9998 62.6113 52.0255 62.7479 52.0757C62.8844 52.1258 63.0085 52.1995 63.1131 52.2923C63.2177 52.3852 63.3006 52.4955 63.3572 52.617C63.4138 52.7384 63.4429 52.8685 63.4429 53C63.4429 53.1314 63.4138 53.2616 63.3572 53.383C63.3006 53.5045 63.2177 53.6148 63.1131 53.7077C63.0085 53.8005 62.8844 53.8742 62.7479 53.9243C62.6113 53.9745 62.4649 54.0002 62.3172 54Z" fill="#CCCCCC" />
          <path d="M62.3172 60H30.5652C30.2674 59.9996 29.982 59.894 29.7715 59.7066C29.5611 59.5191 29.4429 59.2649 29.4429 59C29.4429 58.735 29.5611 58.4809 29.7715 58.2934C29.982 58.106 30.2674 58.0004 30.5652 58H62.3172C62.4649 57.9998 62.6113 58.0255 62.7479 58.0757C62.8844 58.1258 63.0085 58.1995 63.1131 58.2923C63.2177 58.3852 63.3006 58.4955 63.3572 58.617C63.4138 58.7384 63.4429 58.8685 63.4429 59C63.4429 59.1314 63.4138 59.2616 63.3572 59.383C63.3006 59.5045 63.2177 59.6148 63.1131 59.7077C63.0085 59.8005 62.8844 59.8742 62.7479 59.9243C62.6113 59.9745 62.4649 60.0002 62.3172 60Z" fill="#CCCCCC" />
          <path d="M62.3172 66H30.5652C30.2674 65.9996 29.982 65.894 29.7715 65.7066C29.5611 65.5191 29.4429 65.265 29.4429 65C29.4429 64.7351 29.5611 64.4809 29.7715 64.2934C29.982 64.106 30.2674 64.0004 30.5652 64H62.3172C62.4649 63.9998 62.6113 64.0255 62.7479 64.0757C62.8844 64.1258 63.0085 64.1995 63.1131 64.2923C63.2177 64.3852 63.3006 64.4955 63.3572 64.617C63.4138 64.7384 63.4429 64.8686 63.4429 65C63.4429 65.1315 63.4138 65.2616 63.3572 65.383C63.3006 65.5045 63.2177 65.6148 63.1131 65.7077C63.0085 65.8005 62.8844 65.8742 62.7479 65.9243C62.6113 65.9745 62.4649 66.0002 62.3172 66Z" fill="#CCCCCC" />
          <path d="M62.3172 72H30.5652C30.2674 71.9996 29.982 71.8941 29.7715 71.7066C29.5611 71.5191 29.4429 71.2649 29.4429 71C29.4429 70.7351 29.5611 70.4809 29.7715 70.2934C29.982 70.106 30.2674 70.0004 30.5652 70H62.3172C62.4649 69.9998 62.6113 70.0255 62.7479 70.0757C62.8844 70.1258 63.0085 70.1995 63.1131 70.2923C63.2177 70.3852 63.3006 70.4955 63.3572 70.617C63.4138 70.7384 63.4429 70.8685 63.4429 71C63.4429 71.1315 63.4138 71.2616 63.3572 71.383C63.3006 71.5045 63.2177 71.6148 63.1131 71.7077C63.0085 71.8005 62.8844 71.8742 62.7479 71.9243C62.6113 71.9745 62.4649 72.0002 62.3172 72Z" fill="#CCCCCC" />
          <path d="M72.6158 39.8825C83.629 39.8825 92.5571 30.9545 92.5571 19.9413C92.5571 8.92801 83.629 0 72.6158 0C61.6025 0 52.6745 8.92801 52.6745 19.9413C52.6745 30.9545 61.6025 39.8825 72.6158 39.8825Z" fill="{{store.colors.primary}}" />
          <path d="M72.2298 33.6674C73.5257 33.6674 74.5762 32.6169 74.5762 31.321C74.5762 30.0251 73.5257 28.9746 72.2298 28.9746C70.9339 28.9746 69.8834 30.0251 69.8834 31.321C69.8834 32.6169 70.9339 33.6674 72.2298 33.6674Z" fill="white" />
          <path d="M71.9785 6.83685C70.2096 6.8544 68.5175 7.56153 67.2621 8.80777C66.0067 10.054 65.2872 11.741 65.2567 13.5096C65.2562 13.5435 65.256 13.7815 65.256 14.0929C65.256 14.5494 65.4374 14.9872 65.7602 15.31C66.083 15.6328 66.5207 15.8142 66.9772 15.8142C67.4341 15.8141 67.8721 15.6325 68.1951 15.3094C68.5181 14.9863 68.6994 14.5482 68.6993 14.0913V14.0902C68.6992 13.8784 68.6991 13.7318 68.6991 13.7228C68.6989 13.1561 68.8463 12.5992 69.1268 12.1067C69.4072 11.6143 69.811 11.2033 70.2984 10.9142C70.7859 10.6252 71.3402 10.468 71.9068 10.4581C72.4734 10.4482 73.0328 10.586 73.5301 10.8579C74.0273 11.1299 74.4451 11.5265 74.7425 12.0089C75.0399 12.4913 75.2066 13.0428 75.2263 13.6092C75.2459 14.1755 75.1177 14.7373 74.8544 15.2391C74.5911 15.7409 74.2017 16.1655 73.7244 16.4712L73.7251 16.4719C73.7251 16.4719 71.2752 18.0491 70.5283 20.2126L70.5289 20.2128C70.3976 20.656 70.331 21.1159 70.3314 21.5782C70.3314 21.7682 70.3425 23.4309 70.3641 24.7804C70.3717 25.246 70.562 25.69 70.894 26.0166C71.226 26.3432 71.673 26.5261 72.1387 26.526C72.3718 26.526 72.6026 26.4801 72.8179 26.3909C73.0333 26.3017 73.2289 26.1709 73.3938 26.0061C73.5586 25.8413 73.6893 25.6456 73.7785 25.4303C73.8677 25.215 73.9136 24.9842 73.9136 24.7511L73.9135 24.7402C73.906 23.5043 73.9019 22.0652 73.9019 21.9607C73.9019 20.6322 75.1836 19.3086 76.2363 18.4454C77.4549 17.4585 78.3113 16.0949 78.6713 14.5688C78.7488 14.2542 78.7916 13.932 78.7988 13.6081C78.7988 12.7188 78.6236 11.8383 78.2833 11.0168C77.9431 10.1952 77.4443 9.44876 76.8155 8.81997C76.1867 8.19119 75.4402 7.69241 74.6187 7.35211C73.7972 7.01182 72.9166 6.83667 72.0274 6.83667C72.0111 6.83667 71.9948 6.83673 71.9785 6.83685Z" fill="white" />
        </svg>
      </div>
      <div class="content-box">
        <p class="m-0 p-0">{{ locals.product_question_empty }}</p>
        <p class="m-0 p-0">{{ locals.product_question_empty_note }}</p>
      </div>
      <div class="button-box">
        <button type="button" class="btn btn-primary btn-lg add-review-btn" id="addQuestionButton">{{ locals.add_product_question }}</button>
      </div>
    </div>
  </div>
{% endif %}
