<div class="profile-section-dropdown d-block d-lg-none">


    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" style="color: #ffffff" data-toggle="dropdown" class="d-flex flex-grow-1 align-items-center dropdown-toggle">
                <span class="profile-item-image icon-import_contacts"></span>
                <h2 class=" m-0 profile-item-title">
                    {{ title }}
                    {% if section == 'wishlist' and wishlist.total > 0 %}<span class="mx-1">({{ wishlist.total }})</span>{% endif %}
                </h2>
                <span class="icon-arrow_drop_down1"></span>
            </a>
            <ul class="dropdown-menu">
                {% if section != 'profile' %}
                <li>
                    <a href="/account-profile" class="d-flex flex-grow-1 align-items-center">
                        <span class="profile-item-image icon-import_contacts"></span>
                        <h2 class=" m-0 profile-item-title">
                            {{ locals.profile.personal_info }}
                        </h2>
                    </a>
                </li>
                {% endif %}
                {% if section != 'addresses' %}
                <li class="divider"></li>
                <li>
                    <a href="/account-addresses" class="d-flex flex-grow-1 align-items-center">
                        <span class="profile-item-image icon-import_contacts"></span>
                        <h2 class=" m-0 profile-item-title">
                            {{ locals.profile.addresses }}
                        </h2>
                    </a>
                </li>
                {% endif %}
                {% if section != 'orders' %}
                <li class="divider"></li>
                <li>
                    <a href="/account-orders" class="d-flex flex-grow-1 align-items-center">
                        <span class="profile-item-image icon-import_contacts"></span>
                        <h2 class=" m-0 profile-item-title">
                            {{ locals.profile.orders }}
                        </h2>
                    </a>
                </li>
                {% endif %}
                {% if section != 'wishlist' %}
                <li class="divider"></li>
                <li>
                    <a href="/account-wishlist" class="d-flex flex-grow-1 align-items-center">
                        <span class="profile-item-image icon-import_contacts"></span>
                        <h2 class=" m-0 profile-item-title">
                            {{ locals.profile.wishlist }}
                        </h2>
                    </a>
                </li>
                {% endif %}
            </ul>
        </li>
    </ul>
</div>
