{% extends "layout.twig" %}

{% block header %} {{ include('header.twig') }} {% endblock %}

{% block top_links %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url ~ 'account-pages.css?v=1.69' }}" />
{% endblock %}

{% block main_content %}
    <div class="container-parent">
        <div class="profile-pages-bg d-none d-lg-flex flex-grow-1">
            <div class="section-colored"></div>
        </div>

        <div class="container">
            {% include 'profile-section-dropdown.twig' with { 'title' : locals.profile.personal_info , 'section' : 'profile' } %}
            <div class="d-flex">
                {% include 'profile-section.twig' with { 'section' : 'profile' } %}
                <div class="flex-grow-1">
                    {% include 'profile-title.twig' with { 'title' : locals.profile.personal_info } %}
                    <div class="account-content">

                         <div>
                             {{ account_profile_template_content|raw }}
                         </div>

                        <div style="margin-top: 80px">
                            <form action="/auth/logout" method="POST" class="d-flex justify-content-between">
                                <input type="hidden" name="_token" value="{{ csrf_token }}" />
                                <button type="submit" class="btn btn-danger">{{ locals.logout }}</button>
                            </form>
                        </div>

                        {% include 'template_for_mazeed_badge' %}

                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}


{% block footer %} {{ include('footer.twig') }} {% endblock %}
