{% extends "layout.twig" %}



{% block header %} {{ include('header.twig') }} {% endblock %}


{% block top_links %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url ~ 'toastr.min.css' }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset_url ~ 'cart.css?v=1.40' }}" />
{% endblock %}

{% block main_content %}

    <section class="breadcrumb-section">
        <nav aria-label="breadcrumb">
        
            <ol class="breadcrumb">
            <div class="container d-flex flex-wrap">
                 <li class="breadcrumb-item active " aria-current="page">{{ locals.cart_view_title }}</li>
            </div>
        
            </ol>
    
        </nav>
    </section>


    <div class="modal" id="searchCitiesModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body" style="padding: 10px 20px 20px">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>

              <h5 class="text-center py-3 mb-0 text-color-primary">
                {{ locals.enjoy_free_shipping_cities }}
              </h5>

              <div class="p-2 d-lg-flex align-items-center bd-highlight search-input lg-search-div flex-grow-1">
                <div class="form-group" style="position: relative; margin: 0px">
                    <span class="icon-search search-input-icon" style="z-index: 1"></span>
                    <div class="autocomplete" style="position: relative">
                        <input type="text" data-cat-id="" class="form-control cities-search-input pl-5" placeholder="{{ locals.search }}">
                    </div>
                </div>
            </div>

              <div>
                <p class="cities-result lead">
                  {% for city in cart.fee_shipping_discount_rules.conditions_shipping_city | slice(0, 50) %}
                    {{ city.name }}
                    {% if not loop.last %} ، {% endif %}
                  {% endfor %}
                </p>
              </div>

              <div class="d-flex justify-content-center mt-3">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" style="width: 120px">{{ locals.cancel }}</button>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container mb-5">
        <div class="cart-view">
            <div class="row cart-products-with-totals {% if cart.products_count <= 0 %}d-none{% endif %}">
                <div class="col-12 col-lg-8">
                    <div class="section-cart-products">
                        <h2 class="section-title ">{{ locals.cart_products_title }}</h2>
                        <div class="header-wrapper">
                            <div class="section-cart-products-row d-flex">
                                <div class="section-cart-products-col-1"></div>
                                <div class="section-cart-products-col-2 flex-grow-1">{{ locals.cart_header_product }}</div>
                                <div class="section-cart-products-col-3">{{ locals.cart_header_quantity }}</div>
                                <div class="section-cart-products-col-4">{{ locals.cart_header_price }}</div>
                            </div>
                        </div>

                        <div class="template_for_cart_products_list">
                            {{ template_for_cart_products_list }}
                        </div>

                        {% if cart.gift_card_details | length > 0 %}
                            <div class="cart-gift-card">
                                <p class="font-weight-bold mb-2">
                                    <img src="{{ asset_url }}gift_icon.png" style="display: inline-block" />
                                    {{ locals.cart_send_as_gift_info }}
                                </p>
                                <p class="mb-2">
                                    <span>{{ locals.products_list_filter_price_from }}: {{cart.gift_card_details.sender_name}}</span>
                                    <span class="mx-2">{{ locals.products_list_filter_price_to }}: {{cart.gift_card_details.receiver_name}}</span>
                                </p>
                                {% if cart.gift_card_details.gift_message | length > 0 %}
                                    <p class="mb-0">
                                        <span>{{ locals.cart_gift_card_info_message }}: </span> {{ cart.gift_card_details.gift_message }}
                                    </p>
                                {% endif %}
                            </div>
                        {% endif %}

                    </div>
                </div>
                <div class="col-12 col-lg-4">

                    <h2 class="section-title ">{{ locals.cart_break_down_summary }}</h2>
                    <div class="header-wrapper">
                        <div class="section-cart-products-row section-cart-totals-row  d-flex">
                            <div class="flex-grow-1">{{ locals.cart_totals_title }}</div>
                            <div class="flex-shrink-0" style="width: 30%">{{ locals.cart_totals_description }}</div>
                        </div>
                    </div>

                    <div>{{ template_for_cart_loyalty_points_widget }}</div>
                    
                    <div class="cart-totals-div">
                        {% for cartTotal in cart.totals %}
                            <div class="cart-product-row-wrapper cart-totals-row-wrapper">
                                <div class="flex-grow-1">
                                    {{ cartTotal.title }}
                                    {% if cartTotal.code == 'total' and store.is_cart_total_vat_included %}&nbsp;<small>{{ locals.sys_lbl_cart_includes_vat }}</small>{% endif %}
                                </div>
                                <div class="flex-shrink-0" style="width: 30%; {% if cartTotal.code == 'total' %} font-weight: bold; color: var( --primary-color); {% endif %}">
                                    {{ cartTotal.value_string }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div>{{ template_for_cart_payments_widget }}</div>


                    <div class="coupon-form mt-5">
                        <form>
                            <div class="form-group">
                                <h4>{{ locals.coupon_discount }}</h4>
                                <div class="d-flex">
                                    <input class="form-control send-coupon" type="text" placeholder="{{ locals.coupon_discount_enter }}" />
                                    <button type="button" class="btn btn-primary" onclick="sendCoupon()">
                                        <img class="send-coupon-progress d-none" src="{{ asset_url }}spinner.gif" width="15" height="15"/>
                                        {{ locals.coupon_discount_submit }}
                                    </button>
                                </div>
                            </div>
                        </form>


                        {% if cart.coupon.message %}
                            <div class="message-coupon alert alert-primary" role="alert">
                                <span>{{ cart.coupon.message }}</span>&nbsp;
                                <a onclick="deleteCoupon()" style="color: inherit; cursor: pointer">
                                    <span class="icon-trash-alt"></span>
                                    <img class="delete-coupon-progress d-none" src="{{ asset_url }}spinner.gif" width="15" height="15"/>
                                </a>
                            </div>
                        {% endif %}

                    </div>



                    <div class="cart-discount-rule-wrapper free-shipping-rule-section mt-5 {% if cart.fee_shipping_discount_rules %}d-block{% else %}d-none{% endif %}">
                        <div class="d-flex align-items-center">
                            <div class="message flex-grow-1 free-shipping-rule-message">
                                {{ cart.fee_shipping_discount_rules.conditions_subtotal.status.message }}
                            </div>
                            <div class="text-muted mr-1 flex-shrink-0 free-shipping-rule-read-more" class="{% if cart.fee_shipping_discount_rules.conditions_subtotal.status.code == 'min_not_reached' %}d-inline-block{% else %}d-none{% endif %}">
                              <a data-toggle="modal" data-target="#searchCitiesModal" href="#">
                                <small>
                                  {{ locals.read_more }}
                                </small>
                              </a>
                            </div>
                            <div class="discount-progress flex-shrink-0">
                                <span class="free-shipping-rule-done {% if cart.fee_shipping_discount_rules.conditions_subtotal.status.code == 'applied' %}d-inline-block{% else %}d-none{% endif %}">
                                    <span style="font-size: 28px"  class="icon-done text-color-primary"></span>
                                </span>
                            </div>
                        </div>
                        <div class="discount-progress-linear" class="{% if cart.fee_shipping_discount_rules.conditions_subtotal.status.code == 'min_not_reached' %}d-block{% else %}d-none{% endif %}">
                            <div class="progress-bar free-shipping-rule-progress" style="width: {{ cart.fee_shipping_discount_rules.conditions_subtotal.products_subtotal_percentage_from_min }}%">
                                {% if cart.fee_shipping_discount_rules.conditions_subtotal.status.code == 'applied' %}
                                    <span>{{ locals.coupon_discount_free_shipping }}</span>
                                {% else %}
                                    <span>{{ cart.fee_shipping_discount_rules.conditions_subtotal.products_subtotal_percentage_from_min }}%</span>
                                {% endif %}
                            </div>
                        </div>

                    </div>

                    <div>
                        <div class="mt-5">
                            {% if store.availability.closed_now %}
                                <a href="#"
                                   class="btn btn-lg btn-block btn-disabled"
                                >
                                    {{ locals.cart_continue_to_purchase }}
                                </a>
                            {% else %}
                                
                                <a zid-visible-customer="true" href="/checkout/choose-address-and-shipping"
                                class="btn btn-primary btn-lg btn-block"
                                >
                                    {{ locals.cart_continue_to_purchase }}
                                </a>
                                
                                
                                <a zid-visible-guest="true" href="/auth/login?redirect_to=/checkout/choose-address-and-shipping"
                                class="btn btn-primary btn-lg btn-block"
                                >
                                    {{ locals.cart_continue_to_purchase }}
                                </a>
                               
                                <div style="margin-top: 1rem">
                                    {{ template_for_cart_apple_pay_button }}
                                </div>
                            {% endif %}

                        </div>

                        {% if store.gift_order_settings.is_gift_order_enabled == '1' %}
                          <div class="card border-0 mt-3 text-body">
                              {{ template_for_cart_gifts_widget }}
                          </div>
                        {% endif %}

                        <div class="mt-3">
                            <a href="/" class="btn btn-outline-primary btn-lg btn-block">
                                {{ locals.cart_back_to_store }}
                            </a>
                        </div>
                    </div>



                </div>
            </div>
            <div class="cart-empty pt-5 pbb-5 {% if cart.products_count > 0 %}d-none{% endif %}">
                <div class="d-flex flex-column align-items-center">
                    <span class="icon-shopping_cart_black_36dp-1-1 theme-title-primary" style="font-size: 90px">
                        <span class="path1"></span><span class="path2"></span>
                    </span>
                    <h2 class="mt-3">{{ locals.cart_list_empty }}</h2>
                    <div class="mt-3">
                        <a href="/" class="btn btn-outline-primary btn-lg btn-block">
                            {{ locals.cart_back_to_store }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer_scripts %}
    <script type="text/javascript" src="{{ asset_url ~ 'toastr.min.js' }}"></script>

    {{ cart_view_scripts|raw }}

    <script>

        $( document ).ready(function() {
            addDeleteProgressImage()
        });

        function addDeleteProgressImage(){
            $('.cart-product-delete a .prefix', document).addClass('d-none');
            $('.cart-product-delete a .prefix', document).html('<img class="send-coupon-progress" src="{{ asset_url }}spinner.gif" width="15" height="15"/>');
        }

        $(document).on('click','.cart-product-delete a', function(event) {
            $('.icon-delete', event.currentTarget).addClass('d-none');
            $('.prefix',event.currentTarget).removeClass('d-none');
        });

        $(".cities-search-input").on('keyup', function (e) {
            const searchVal = e.target.value
            const mappedCities = cartObj.fee_shipping_discount_rules.conditions_shipping_city.map((city) => city.name);
            let filteredCities = mappedCities.slice(0, 50).join(' ، ');
            if (searchVal.length > 2) {
              filteredCities = mappedCities.filter((name) => name.trim().toLowerCase().includes(searchVal.trim().toLowerCase())).join(' ، ');
            }
            if (filteredCities.length) {
              $(".cities-result").html(filteredCities);
            } else {
              $(".cities-result").html('{{ locals.no_result_found }}');
            }
        });

        function sendCoupon() {
            if(!$('.send-coupon-progress').hasClass('d-none'))
                return;

            $('.send-coupon-progress').removeClass('d-none');
            zid.store.cart.redeemCoupon($('.send-coupon').val())
                .then(function (response) {
                    if(response.status  === 'success'){
                        toastr.success('{{ locals.sent_successfully }}', null)
                        window.location.reload();
                    }else{
                        toastr.error(response.data.message, '{{ locals.sorry }}')
                    }
                    $('.send-coupon-progress').addClass('d-none');
                }).catch(function (err) {
                    $('.send-coupon-progress').addClass('d-none');
                })
        }

        function deleteCoupon() {
            if(!$('.delete-coupon-progress').hasClass('d-none'))
                return;

            $('.delete-coupon-progress').removeClass('d-none');
            zid.store.cart.removeCoupon().then(function (response) {
                if(response.status  === 'success'){
                    toastr.success('{{ locals.sent_successfully }}', null)
                    window.location.reload();
                }else{
                    toastr.error(response.data.message, '{{ locals.sorry }}')
                }
                $('.delete-coupon-progress').addClass('d-none');
            })
        }


        function cartProductsHtmlChanged(html, cart){
            if(cart.products_count <= 0){
                $('.cart-products-with-totals').addClass('d-none');
                $('.cart-empty').removeClass('d-none');
                return;
            }else{
                $('.cart-products-with-totals').removeClass('d-none');
                $('.cart-empty').addClass('d-none');
            }


            $('.template_for_cart_products_list').html(html);

            if(cart &&  cart.totals){
                var strCartTotlas = '';
                for(var i = 0; i < cart.totals.length; i++){
                    var cartTotal = cart.totals[i];

                    var totalStyle = '';

                    if(cartTotal.code === 'total'){
                        totalStyle = 'font-weight: bold; color: var( --primary-color)';
                    }
            
                    var vat_included = '';
                    if(cartTotal.code === 'total'){

                        var is_cart_total_vat_included = {{ store.is_cart_total_vat_included ? 'true' : 'false' }};
                        var local_sys_lbl_cart_includes_vat = '{{ locals.sys_lbl_cart_includes_vat }}';
                    
                        if(is_cart_total_vat_included){
                            vat_included = '&nbsp;<small>'+local_sys_lbl_cart_includes_vat+'</small>';
                        }
                        
                    }


                    strCartTotlas += '<div class="cart-product-row-wrapper cart-totals-row-wrapper">' +
                        '                                <div class="flex-grow-1">'+cartTotal.title+vat_included+'</div>' +
                        '                                <div class="flex-shrink-0" style="width: 30%; '+totalStyle+'">'+cartTotal.value_string+'</div>' +
                        '                            </div>'
                }

                $('.cart-totals-div').html(strCartTotlas);
            }

            if(cart.fee_shipping_discount_rules){
                $('.free-shipping-rule-section').removeClass('d-none')
                $('.free-shipping-rule-message').html(cart.fee_shipping_discount_rules.conditions_subtotal.status.message)
                $('.free-shipping-rule-progress').css('width', `${cart.fee_shipping_discount_rules.conditions_subtotal.products_subtotal_percentage_from_min}%`)
                if (cart.fee_shipping_discount_rules.conditions_subtotal.status.code === 'applied') {
                    $('.free-shipping-rule-done').removeClass('d-none')
                    $('.free-shipping-rule-read-more').addClass('d-none')
                    $('.free-shipping-rule-progress').html('{{ locals.coupon_discount_free_shipping }}')
                }else {
                    $('.free-shipping-rule-done').addClass('d-none')
                    $('.free-shipping-rule-read-more').removeClass('d-none')
                    $('.free-shipping-rule-progress').html(`${cart.fee_shipping_discount_rules.conditions_subtotal.products_subtotal_percentage_from_min}%`)
                }
            }else{
                $('.free-shipping-rule-section').addClass('d-none')
            }


            setCartTotalAndBadge(cart);
            addDeleteProgressImage();
        }

    </script>
{% endblock %}


{% block footer %} {{ include('footer.twig') }} {% endblock %}
